--help
Documents/
Archivio/
DCIM/
Deep Learning Lecture*
Desktop/
Downloads/
Dropbox/
exp
Google.jpg
IMM1295E.PDF
lib/
Music/
SMSBackup/
Segnalazione di ricezione telefonate pubblicitarie su utenze riservate.pdf
WhatsApp/
Your document checklist - Citizenship and Immigration Canada - open work permit.pdf
Your document checklist - Citizenship and Immigration Canada.pdf
android backup/
articles/
canopy-1.5.2-rh5-64.sh
exp/
prova.html
sito/
video co.avi
wiRouter_KeyRec_1.1.2/
.xsession-errors
.xsession-errors.old
.xournal/
.xinput.d
.xinputrc
.wine
.wine-pipelight
.wine-pipelight64
.vidalia/
.tor/
.thunderbird/
.thumbnails/
.theano
.texmf-var
.systemtapgui/
.ssh/
.subversion/
.sqlite_history
.speech-dispatcher/
.selected_editor
.qt
.qtnx
.putty/
.pulse
.pulse-cookie
.profile
.pki/
.pam_environment
.macromedia/
.matlab/
.matplotlib/
.miniconda
.mozilla/
.mplayer/
.msoffice2010/
.nvidia-settings-rc
.odbc.ini
.openvpn_router/
.psensor/
.goutputstream-0QJE6W
.goutputstream-19ZJAX
.goutputstream-1HR26W
.goutputstream-1SS5ZW
.goutputstream-5RD28W
.goutputstream-73YB6W
.goutputstream-7G2R7W
.goutputstream-7Y2OAX
.goutputstream-8ZZO2W
.goutputstream-94473W
.goutputstream-B6WX7W
.goutputstream-IKZ9ZW
.goutputstream-IU2T6W
.goutputstream-JFO72W
.goutputstream-MCSFBX
.goutputstream-NASY2W
.goutputstream-ONCRZW
.goutputstream-OO2W4W
.goutputstream-QBRY9W
.goutputstream-TZ6T7W
.goutputstream-UG7J6W
.goutputstream-V27CAX
.goutputstream-Y8NO2W
.goutputstream-YSXB5W
.gimp-2.8/
.git
.git-autocomplete.bash
.gitconfig
.gitignore
.git-prompt.sh
.gegl-0.0/
.gconf/
.fontconfig
.fonts
.fonts.conf
.fltk/
.filezilla/
.gnome
.gnome2
.gnome2_private
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.hplip/
.java/
.junique/
.kde
.m2
.local
.local.bashrc
.liclipse
.liclipseWorkspace
.gksu.lock
.face
.enstaller4rc
.dropbox
.dropbox-dist
.dmrc
.dbus
.cups/
.config/
.compiz
.compiz-1
.cache/
.bzr.log
.bash_history
.bash_logout
.adobe/
.android/
.Xauthority
.PlayOnLinux/
.Mathematica/
.ICEauthority
.BOINC Manager
.apport-ignore.xml
.atunes/
.Skype/
.avidemux/
.conda/environments.txt
.gimp-2-6
.gitk
.gpg-agent-info
.gtkrc-2.0-kde4
.imsettings.log
.lastlog_visin
.nx/cache-gnome
.nx/cache-unix-desktop
.nx/config
.nx/R-localhost-23399-295BBAA8EC2CDA9687CBD412AB78295E
.nx/R-localhost-6200-A2BAD65E9FD46D43FE1C0441EFA3C5C9
.nx/S-
.nx/S-CudaServer-2000-1C9377477FCCD8FB96EB2954EAC37D22
.nx/S-CudaServer-2000-40D78C6C48A91B8BC8218610CC4845A0
.nx/S-CudaServer-2000-6E639C55D0327B87B4B426A14FC00043
.nx/S-CudaServer-2000-810E9DD7BEE51E9C80F075DE2BF1EF79
.nx/S-CudaServer-2000-89D7B2E3DCB9FC66278177FD0DF00E65
.nx/S-CudaServer-2000-BE2D4D174983CE47357FCBEDEE07D716
.nx/S-CudaServer-2000-C2CBECB80AA6B45866A6C8DC0BBF6B03
.nx/S-CudaServer-2001-A66C9FBE0D2B59244E6BC9A0E055F716
.nx/temp
.nx/T-S-fraptop-13001-6D1FBE18354DAE83424406D5C394DA53
.nv/ComputeCache
.nv/GLCache
.openoffice.org
.pip/pip.log
.pshrc
.screenrc
.vim
.viminfo
.xine
.IMPORTANTS_FICHIERS_DE_CONFIGURATION
.autojump/
.bokeh/
.continuum/
.cshrc
.elinks/
.esd_auth 
.gconfd
.gimp-2.6/*
.esd_auth
.ipython/
.login 
.vimrc
.pylint.d/*
.recently-used.xbel
